[2017-12-02 12:44] fire-bot opened #1 "Finish adding @fire-bot to your repo"
Greetings, [fire](https://fire.fundersclub.com) here!

@mhardcastle recently invited @fire-bot to this repository. Before fire is enabled, @mhardcastle needs to complete a few steps:

**[Complete fire setup now](https://fire.fundersclub.com/approve/ea02d294-ea72-46dc-9fc2-c505083316bb/)**

*Only @mhardcastle will be able to enable fire using the above link. If someone added fire by mistake, feel f

[2017-12-02 12:46] #1 closed, assigned to nobody

[2017-12-02 12:49] fire-bot opened #2 "Catalogue does not contain aliens"
*Sent by @mhardcastle (mjh@extragalactic.info). Created by [fire](https://fire.fundersclub.com/).*

---
We should have a flag for the presence of intelligent life

[2017-12-02 12:51] mhardcastle commented on #2
I don't think so!

[2017-12-02 12:51] #2 closed, assigned to nobody

[2017-12-03 14:05] dunkenj opened #3 "Bright star masking/flagging"
In regions where there a very bright optical stars ( G_gaia ~ 16), the statistics for LR matching will be potentially skewed and many of the optical sources will be spurious.
Ideally, we should mask the optical catalogs in advance of any x-ID efforts. But as a minimum it would be useful to have flagging of radio sources (matches) which are in regions around the very brightest stars.

HELP are deve

[2017-12-04 08:44] jrcallingham opened #4 "Point Sources Missing Flux (cutoff) Near Edge of Survey Region"
There a number of point sources that are cut off near the edge of the survey region. This means that their flux densities are underestimated and they look like peaked-spectrum sources. Need to think of a clever way of adding a flag or excising these sources from the catalogue.

Below are the names of a few of the sources that are cutoff at the edge of the survey, causing them to be missing flux:

[2017-12-04 17:27] mhardcastle opened #6 "Naming of optical IDs"
The ID_name column in the final catalogue is useful but inconsistent about its naming of sources depending on where they came from. Should probably be rewritten in a standard form after merging.

[2017-12-04 19:53] twshimwell opened #7 "Isl_ID"
Isl_ID was in the radio catalogue but is missing from Isl_ID the value added catalogue. I thought we were going to keep this one as perhaps useful for complex sources in the same island.

[2017-12-04 20:49] mhardcastle commented on #7
I'm struggling a bit to think what we might use it for?

[2017-12-04 21:12] twshimwell commented on #7
OK perhaps not so useful and not needed then.

(looking back at emails it seems perhaps it was kept in the radio catalogue as it gives an indication that these are complex sources but maybe not needed in a final catalogue then).

[2017-12-04 21:52] mhardcastle commented on #7
Well, it's easy to keep in for simple pybdsf sources if we can think of a use case. But of course it doesn't make sense for sources formed out of multiple pybdsf sources like the galaxy zoo ones. Let's keep this open for a bit in case someone comes up with a use case.

[2017-12-05 08:25] twshimwell opened #8 "New masking columns"
Ive nearly finished making two new columns

Number_Pointings -- Number of pointings that are mosaiced together that contain the source (takes account of the astronomic blanking too)
Number_Masked -- Number of the above pointings in which the source is masked.

Do we want these in the final catalogue do you think? It does give an insight into the deconvolution but its a bit tricky as e.g. I just us

[2017-12-05 08:58] mhardcastle commented on #8
Yeah, I was thinking the deconvolved weight fraction would be the right measure, because then we don't get alarming figures for sources that are right at the edge of one field and right in the centre for another. Though we can keep the other two columns for the moment too, perhaps. They might be useful for the paper.

Then maybe this information wants to go not in the source catalogue but in the a

[2017-12-05 09:02] twshimwell commented on #8
OK, ill add in that column too.

[2017-12-05 09:02] twshimwell commented on #8
(im doing it on LOFAR_HBA_T1_DR1_catalog_v0.9.srl.fixed.fits)

[2017-12-05 09:05] mhardcastle commented on #8
Yep that's fine. The comment about what catalogue it goes on was more me thinking aloud than anything you need to worry about!

[2017-12-07 18:09] wndywllms opened #9 "Source_Name 's"
The Source_Name has the form ILTJHHMMSS.ss+DDMMSS.s (*except some earlier iteration of the catalouge that has ILTJHHMMSS.sss+DDMMSS.ss) but I think we may still have this a bit wrong.

Names are derived from the coordinates as follows:
[code]
(as in https://github.com/mhardcastle/lotss-catalogue/blob/master/utils/fix_sourceid.py)

So *truncated* to 1 d.p. in DEC (after rounding to 2 dp) and *round

[2017-12-07 18:19] mhardcastle commented on #9
I felt when I wrote that code that what we do is good enough given that we don't know any position to sub-arcsec precision... but happy to fix this if others disagree.

However I think it would be an awful lot of effort to do so _internally_ before the catalogue release. Perhaps rewriting at release time might be worthwhile.

[2017-12-07 23:31] wndywllms commented on #6
For the ML sources I need to change the PSO and SDSS names from objID to the actual names. I guess for LGZ the PSO source names come from some version of the panstarrs catalogue (but not the merged wise/panstarrs photo-z catalogue because that's only got an objID)?

For the LGZ-zoom sources, there're a few called 'AllWISEN/A' (and no PSO ones).
And presumably the ones without a prefix coming out o

[2017-12-12 14:57] lmorabit opened #10 "Deconvolved source sizes"
The current catalogue has source sizes convolved with a 6 arcsecond beam. It would be great to get the deconvolved sizes to use for conversion to proper linear sizes.

[2017-12-12 15:00] jcroston commented on #6
Related to this issue: some the sources called AllWISEN/A also don't have ID_ra and ID_dec values in the catalogue (others do, so this doesn't apply to all the ALLWISEN/A sources). These *do* have a ML_LR value, and so there must be a valid ID but for some reason the coords are missing

[2017-12-12 15:06] jcroston opened #11 "ID flags in the current value added catalogue"
The current ID_flag value aren't consistent with the documentation for the optical catalogue (e.g. what are 311, 312, etc?) Please could the documentation be updated to explain what these are.

[2017-12-12 15:22] mhardcastle commented on #10
Deconvolved sizes can be calculated from the non-deconvolved sizes; crudely:

[code]

I sort of agree that these shouldn't have been removed from the original pybdsf catalogues though. @twshimwell, any reason why you took them out? (These are DC_Maj etc.)

[2017-12-12 15:36] twshimwell commented on #10
Nope no reason. I have them all for the individual mosaics so I can easily make a new catalogue with deconvolved sizes if its something we want.

[2017-12-12 15:47] mhardcastle commented on #10
Let's do that then for the next release.

[2017-12-12 15:48] mhardcastle commented on #10
(Obviously the deconvolved sizes for the non-Gaussian and LGZ sources are kind of poorly defined anyway: for LGZ we don't really have a proper size measurement at all yet.)

[2017-12-12 15:56] lmorabit commented on #10
Right, LGZ will clearly be different.  The pybdsf deconvolved sizes for the single-gaussian sources would be a huge help at the moment (that's what most of my sample seems to be anyway), but obviously at some point I'd like the sizes measured for LGZ things. I was thinking this might make a nice summer student project? If that's an appropriate timescale. The student could look at automating a way

[2017-12-12 15:57] twshimwell commented on #8
These are ready if you like them.

[2017-12-12 15:59] mhardcastle commented on #10
Beatriz is already working on code to do automatic size measurements for LGZ. @jcroston may want to comment...

[2017-12-12 16:04] mhardcastle commented on #8
Oh yes, you sent them before and it got buried. Don't suppose you'd like to produce a version that keeps the DC_* columns as well, so we can kill two birds with one stone? Then we can re-make the catalogues based on that.

[2017-12-12 16:11] twshimwell commented on #8
sure

[2017-12-12 16:18] wndywllms commented on #11
I've updated these on the [wiki](http://lofar.strw.leidenuniv.nl/wiki/doku.php?id=hetdex_catalog_description#id_flag_codes):

ID_flag Codes
1 - identification from maximum likelihood analysis
2 - match to a bright galaxy (either 2MASX or SDSS)
3?? - identification from LGZ, second digit is version number, third digit is further flag, (fourth digit is output pending)
311 - output from LGZv1
312 - o

[2017-12-12 16:28] jcroston commented on #10
@lmorabit Hi Leah, yes, Beatriz's code does this - we are currently running it on all sources with catalogue size > 8.5 arcsec (corresponding to ~6" deconvolved), which will include all the LGZ sources. Our method catches all emission above some sigma threshold that is within, or connected to, any components associated with the particular source, and outputs a (deconvolved) size that corresponds t

[2017-12-12 16:45] lmorabit commented on #10
@jcroston That's great. Yes, I'd like to be kept in the loop. Are you looking to include these in the data release?

[2017-12-12 17:13] jcroston opened #12 "Duplicate too zoomed in sources"
Beatriz has spotted that there are some duplicate source names in the current main table. These all have ID_flag==312, i.e. too zoomed in sources from LGZv1. In some cases the duplicate entries have different coordinates and fluxes, etc. There is a table of these entries on lofar.herts here: /data/lofar/bmingo/morph/hetdex/Multi_rows.fits .

[2017-12-12 17:17] bmingo commented on #12
Some have ID_flag==322 as well (still too zoomed in, from LGZv2)

[2017-12-12 17:37] wndywllms commented on #12
@mhardcastle looks like these are coming from lgz_components.txt

Seems like the New_Source_Name is not updated when the next source from the too-zoomed-in route doesn't get a new name...
ILTJ105520.42+535327.4 ILTJ105520.65+535327.8 2
ILTJ105520.87+535328.2 ILTJ105520.65+535327.8 2
ILTJ131113.89+532359.1 ILTJ105520.65+535327.8 2
ILTJ143422.67+484531.9 ILTJ105520.65+535327.8 2

[2017-12-12 20:26] mhardcastle commented on #11
Closing.

[2017-12-12 20:26] #11 closed, assigned to nobody

[2017-12-12 20:28] jcroston commented on #11
Thanks Wendy!

[2017-12-12 20:29] mhardcastle commented on #12
Yep, giant bug in my code; a whole bunch of sources will have the same source name as the first source in the list.

Just testing a fix now. Tim is going to provide a new pybdsf catalogue that'll fix #8 and #10 as well, so once we have that we can do a new release.

[2017-12-12 21:11] mhardcastle commented on #12
Fixed in commit ccf8aac3b313d6e32d98e711a6787a0baeb2804e.

[2017-12-13 12:19] mhardcastle commented on #6
So I think what we should do here is at the end (after the LGZ and ML catalogues are merged and everything has an optical ID crossmatch) is homogenize the naming of optical IDs. That's harder to screw up then doing it in several (currently three) different pieces of code. I'd put this in `fixup_topcat_merge.py` (which might want to be named something more descriptive but is basically the post-merg

[2017-12-13 12:28] mhardcastle commented on #6
(The sources Jude mentions look to me like they just don't have a counterpart in Ken's catalogue despite having a ML value. This is a separate problem and should be raised as a separate issue.)

[2017-12-13 13:43] wndywllms commented on #6
Yes, makes sense.

It may be helpful if Ken can include the panstarrs objName column in the panstarrs/wise phot-z catalogue

[2017-12-13 13:51] wndywllms opened #13 "ML sources with no ID co-ords but valid LR"
some ML sources (ID_flag==1) don't have ID_ra and ID_dec values in the catalogue but do have a ML_LR value, and so there must be a valid ID but for some reason the coords are missing

[2017-12-13 14:00] wndywllms commented on #13
These are all multiple gaussian (compact, not-isolated) sources. Partly there is a bug here that they didn't get their ID co-ords updated, but they actually need to be treated consistently with the compacted isolated M sources.

[2017-12-13 14:45] mhardcastle commented on #6
Presumably it would be fine to generate a PSO J... name here based on the co-ordinates?

[2017-12-13 15:36] wndywllms commented on #6
Shouldn't they match exactly to whatever name/designation/objName column exists in the catalogue from which they come (to facilitate exact value matching on a single column instead position matching) so how it is written will depend on where the match comes from. so we have e.g.

2MASX J10445443+5129301 -- annoyingly 2MASX designations don't have decimal points
AllWISE J124713.12+471921.3
PSO J122

[2017-12-13 15:56] mhardcastle commented on #6
In that case you're right and we're going to have to ask Ken to propagate these names (or get them back from the PS/WISE catalogues). Bother.

(Maybe the PS people don't quite follow the IAU convention either...)

[2017-12-13 17:50] wndywllms opened #14 "Sources with zero position error"
There are a few sources with E_RA=0 and E_DEC=0 (and Min=0)

Fortunately, I think they're all artefacts so should just be flagged as such.

[2017-12-14 12:28] twshimwell opened #15 "Resolved column?"
The formula 1.25 + 3.01*(peak_flux/isl_rms)**(-0.53) seems reasonable at separating resolved and unresolved sources. Do we want a column in the catalogue indicating whether a source is resolved (according to this formula). I dont mind either way really the the formula isnt perfect but perhaps its useful to give an indication.

[2017-12-14 13:11] mhardcastle commented on #15
I would tend to think that's something to put in the readme for the catalogue -- because if someone comes up with a better formula then we haven't cast that one in stone in the catalogue. Looks like there are a few free parameters there that someone might want to tune. What is that a limit on? Maj? How do you know it's doing a good job?

[2017-12-14 13:50] twshimwell commented on #15
OK fair enough.

[2017-12-14 13:50] #15 closed, assigned to nobody

[2017-12-14 16:54] mhardcastle commented on #8
These columns are now present in the components catalogue.

[2017-12-14 16:55] mhardcastle commented on #12
Please check the new catalogues uploaded just now on the release site and close this if the problem's resolved. (I have to go and watch a nativity play...)

[2017-12-14 16:56] mhardcastle commented on #10
Deconvolved source sizes now in v0.4 of the catalogue. Closing this, reopen if there's still a problem.

[2017-12-14 16:56] #10 closed, assigned to nobody

[2017-12-15 10:41] mhardcastle commented on #8
... but we have decided we need to do this with the Gaussian catalogue, so don't use the v0.4 values.

[2017-12-15 13:21] bmingo commented on #12
Commenting here, as I suspect it is related.

On the new version of the components table, the New_Source_Name seems to be associated to components with very different RA/DEC, e.g.:
Source ILTJ124152.30+492456.1, RA: 190.4678993205904, DEC: 49.415595368552474
Associated components:
ILTJ141727.63+561903.6, RA: 214.36511078446716, DEC: 56.317666900775215
ILTJ141731.31+551721.8, RA: 214.38045787418406

[2017-12-15 14:47] mhardcastle commented on #12
This sounds like the original problem hasn't been solved at all. Which is strange, because these files are right in `lgz_components.txt`:

[code]
@wllwen007 Any ideas?

Just a general point when finding problems with the catalogue: please report the value of ID_Flag, so we can narrow this down as much as possible.

[2017-12-15 16:29] wndywllms commented on #12
Yeah, this time it was a stupid bug in my code...  (randomizing the order of the sources with a np.unique call left over from an earlier version means the components no longer match up o_O)

fixed in c987a2bfea6479b0e485c7161d9b6b4d97e0db67 and merge_ID_v0.7 catalogues

-There is a duplicate entry in the main table (ID=ILTJ132633.10+484745.7, ID_flag=1)

I noticed this one already - it is the 1/30

[2017-12-15 16:40] jcroston commented on #12
Thanks Wendy. @bmingo can you confirm what flag ID these 162 have? By "from LGZ" do you mean 311? If so then we can check the components list from the 0.7 components catalogue against my LGZv1 component catalogue (for which I think I sent you the location?)

These could maybe be cases from the RA range where the components were from the earlier source catalogue and so they broke down into a differ

[2017-12-15 16:44] mhardcastle commented on #12
I think @jcroston's suggestion is pretty plausible. My code doesn't correct the number of components in an unchanged LGZ entry (i.e. not 312) but it can trivially do so. Let's check this and if it is the problem I can fix it in the next release. Holding off on publishing the new catalogue till then.

[2017-12-15 16:50] bmingo commented on #12
I updated my comment after seeing Martin's, with the ID values. Sorry, perhaps I should have posted a new comment instead.

I have saved the table on the LOFAR server, in /data/lofar/bmingo/morph/hetdex/Diff_comp_0.6b.fits (It contains all the columns from the main table, plus the number of components in the components table associated with each row, at the end).

The RA values range from 167 to 2

[2017-12-15 16:53] wndywllms commented on #12
Ok, since we're now talking about the other issue here: where there are fewer components with the same New_Source_Name than LGZ_Assoc, in at least one case, this is because one of these components is flagged as an artefact in the first stage of the flowchart and therefore has it's New_Source_Name overridden as '' even though it has been associated in lgz. I guess it makes sense to keep them in the

[2017-12-16 11:05] mhardcastle commented on #12
@wllwen007 I have made a new version of the LGZ catalogue where the number of components is explicitly counted for all entries -- `/data/lofar/mjh/hetdex_v4/lgz_v1/HETDEX-LGZ-cat-v0.7-filtered-zooms.fits`. If you can merge that in at some point (and maybe sort out the artefacts as well) then we can release another catalogue version.

[2017-12-16 13:19] wndywllms commented on #12
I've updated the merged catalogues in  /data/lofar/wwilliams/hetdex/LoTSS-DR1-July21-2017/
LOFAR_HBA_T1_DR1_merge_ID_v0.7.comp.fits
LOFAR_HBA_T1_DR1_merge_ID_v0.7.fits

looks like the number of components always matches the LGZ_assoc value and the components of a given associated source live in the same part of the sky so hopefully these issues have all been resolved

[2017-12-17 10:01] mhardcastle commented on #12
Thanks Wendy. Let's hope so. New version 0.5 catalogue is on the release site.

[2017-12-18 11:51] jcroston opened #16 "Whitespace in Source_Name v0.5 catalogue"
Minor one, but the new v0.5 has unnecessary whitespace at the end of the Source_Name entries (don't think this was there in the previous version). Fixable with an rstrip() in processing code, so not urgent but would be useful to fix with the next release.

[2017-12-18 11:57] #12 closed, assigned to nobody

[2017-12-19 13:42] twshimwell commented on #8
I now have a masked gaussian catalogue but havent yet merged it through to the source catalogue.

[2018-01-05 16:02] mhardcastle opened #17 "Sizes are inconsistent"
Size estimates for PyBDSF and LGZ sources are inconsistent. We should derive better sizes using the properties of the Gaussians in the LGZ sources as well as their separation.

[2018-01-06 13:57] mhardcastle opened #18 "2MASS sources missing LGZ_Assoc_Qual and LGZ_ID_Qual"
As these ID_flag==2 sources appear like LGZ sources in other respects they should probably have quality flags -- otherwise we run the risk of them being filtered by accident.

[2018-01-08 11:04] mhardcastle commented on #16
Fixed by dd2ad33 and will be in next release.

[2018-01-08 11:04] #16 closed, assigned to nobody

[2018-01-08 11:48] wndywllms commented on #14
fixed in b6b6f8fd4630361455e00a2b263b8c369a4cba87

[2018-01-08 11:48] #14 closed, assigned to nobody

[2018-01-08 12:04] wndywllms opened #19 "LGZ_Assoc is 0 instead of 1 for single component LGZ sources"
LGZ_Assoc (or Assoc in process_lgz) is set to 0 for LGZ sources with only one component. Should be 1 for consistency.

[2018-01-08 12:14] mhardcastle commented on #19
This is @jcroston's convention and I stuck with it for consistency. I agree it would be a lot better (and simpler to code!) if it were as you say.

[2018-01-08 13:27] jcroston commented on #19
Yes, I agree this doesn't really make sense any more -it's leftover from when I had a different format of components table and used the column as a yes/no for whether the source had entries in it. I'm happy to fix this in the LGZ code (and/or in the meantime for next catalogue version just to switch the 0s to 1s).

[2018-01-08 13:38] mhardcastle commented on #19
I can fix this in the process_lgz code for now: it recalculates all of these anyway.

[2018-01-08 14:08] mhardcastle commented on #19
Fixed in 6a27322.

[2018-01-08 14:08] #19 closed, assigned to nobody

[2018-01-08 14:09] mhardcastle commented on #17
Fixed in e2ab408714bd5bf4baf49312de25693ea8835aa3 .

[2018-01-08 14:09] #17 closed, assigned to mhardcastle

[2018-01-08 14:33] wndywllms commented on #18
I've given them flags of 1

fixed in c7368f729057a5a9c37d4aa95d1f5f7d6f2c2002

[2018-01-08 14:33] #18 closed, assigned to nobody

[2018-01-08 17:11] wndywllms commented on #13
I think I've fixed these with c2c4ee4e377ab693b545f8faf5cdd7feabb09704 (difference between a nanargmax and argmax!)

[2018-01-08 17:11] #13 closed, assigned to nobody

[2018-01-10 14:34] bmingo opened #20 "Repeated ID_name/AllWISE/ObjID values"
There seem to be some catalogue entries in version 0.6 (also present in version 0.5) in which the same ID_name, AllWISE, and/or ObjID value is assigned to different Source_Name values (with different fluxes and slightly different coordinates).

In the case of the repeated ID_name, there is at least one known issue covered (entries with ID_name="mult" on the catalogue), but I seem to have picked up

[2018-01-14 11:03] mhardcastle commented on #20
For the LGZ ones (id 311) a lot of these are the result of large artefacts being centred on a smaller bright source: both are identified with the host without being associated with each other. The artefacts will just need to be removed manually. I'll set up a mechanism for this.

[2018-01-14 12:55] mhardcastle commented on #20
The ones with ID_flag==1 are basically all real sources where two concentric components have not been associated by PyBDSF. These should really be a separate flowchart branch but once located they're easy to fix by sending them through the 'too zoomed in' code, which I have now done.

[2018-01-17 12:57] jrcallingham opened #21 "Incorrect RA,Dec reported for some sources in value-added catalogue"
I think there is an issue with some sources having incorrect RA, Dec reported in the value added catalogue. I am assuming the RA and DEC columns reported in the value-added catalogue should be identical to the radio only catalogue (i.e. it is not updated).

For example, I am comparing the position reported for ILTJ112416.41+513338.5 in LOFAR_HBA_T1_DR1_merge_ID_optical_v0.6.fits and LOFAR_HBA_T1_D

[2018-01-17 13:47] mhardcastle commented on #21
OK, I know what's happening here. We're now recomputing the positions of all LGZ sources from their component list to fix different some inconsistencies in the previous version of the catalogue. Sources like this that are composed of multiple components get the mean RA and DEC of their components. But those means should be the flux-weighted means, and they're not. Going to a flux-weighted mean sho

[2018-01-17 13:54] jrcallingham commented on #21
That makes sense for some of the cases. However, with this source, I don't quite get why the position is so distant from any radio emission? So you are implying that some faint radio emission more than 30" are is being associated with this source, and then you are averaging the positions?
If so, flux weighted mean would likely fix this issue but I have no appreciation how this would change other t

[2018-01-17 14:13] wndywllms commented on #4
I've added some code to check for these sources with 7c97d45edda5918ad457026a72190f7b020e398f. Basically it quickly checks if there are any nan pixels within Maj of each source (261 sources), and for those checks in more detail if there are *any* nan pixels within a mask defined by the pybdsf ellipse (179 sources). There are all found on the edges as they should be:
![flag_edge_sources](https://us

[2018-01-17 14:20] jrcallingham commented on #4
Smart idea Wendy about looking for nan pixels in the pybdsf ellipse after using the major axis! Looks like it sensibly gets most of the edge cases (agreed the two examples that don't get flagged are problematic for other reasons). I will have a play and see if I can see if I can find any sources that slip through the code but should get caught. I will let you know if I find any but looks unlikely.

[2018-01-17 14:27] wndywllms commented on #21
Yes, the positions do and *should* get changed (albeit with the caveats @mhardcastle mentioned about what this actually means in terms of a flux-weighted centre or not -- I'm actually using a flux-weighted centre when I merge the 2MASX sources so we should at least be consistent)

FYI The component catalogue will tell you what component pybdsf (radio-only) sources went into the final merged source

[2018-01-17 14:34] jrcallingham commented on #21
Agreed Wendy that you should update the positions as long as you report the components (which, as you indicate, you do). If I squint I can some relic emission that could be associated with this source that likely led the LGZ to classify them together. However, I think for the way people will use the catalogue once it is public, the current reported position is not right. The flux-weighted centre i

[2018-01-17 16:10] mhardcastle commented on #4
Let us know what you find, Joe. Our idea is to fully remove these sources from all catalogues in the next catalogue release.

[2018-01-17 21:10] mhardcastle commented on #21
Fixed by 74d449934e8ddec094b7017edc297832af6a262d.

Flux-weighting for this composite source turns it into ILTJ112413.54+513348.3 which is much closer to the bright source.

Closing this for now, please check in the next catalogue version and re-open if necessary.

[2018-01-17 21:10] #21 closed, assigned to nobody

[2018-01-17 21:12] mhardcastle opened #22 "blends"
We need visual inspection code to deal with the sources flagged as blends by LGZ (or otherwise).

[2018-01-17 21:14] mhardcastle opened #23 "host galaxy broken up"
There are quite a few of these and we should decide what to do with them -- they are probably all identified with catalogued bright galaxies and so perhaps their route is similar to the 2MASS sources dealt with in Wendy's code.

[2018-01-18 18:17] mhardcastle commented on #23
Initial code in 8aa45f49bf1c77e7b938a967bdf18f50889d2fb9 ; will be in next catalogue release.

[2018-01-18 18:17] #23 closed, assigned to nobody

[2018-01-23 13:28] bmingo opened #24 "Components with bad DEC values"
There seem to be 93 entries in the v0.8 components catalogue with bad DEC values (DEC=-90.). Most of them seem to have been flagged as artefacts, but not all.

I have saved the relevant rows on a directory in the LOFAR server:
/data/lofar/bmingo/tests/v0.8_comp_bad_DEC.fits

EDIT: while some of the sources seem to have artefact_flag=FALSE, they all seem to belong to the Artefact_flag subset

[2018-01-23 13:36] bmingo commented on #24
Apologies, another addition (I thought it might be safer to post as a response, in case you don't see the edits).

I have just realised that there are two artefact flags: column 40=artefact_flag (~50% of the components mentioned have this =TRUE) and column 64=Artefact_flag (all the components mentioned have this =TRUE, hence, I assume, why they are in the Artefact_flag subset)

[2018-01-23 15:21] wndywllms commented on #24
Yup, I'm aware of this and already fixed the -90 dec problem. It was supposed to be a temporary step to compute the distance to the nearest non-artefact, but I ended up changing the table and not a copy of the column.  Artefacts are actually removed from the component list now, but there are a few where artefacts identified in the flowchart are associated to an LGZ source and so are included in th

[2018-01-23 15:27] wndywllms commented on #24
incidentally the component catalogue still has loads of extra columns which should be trimmed down (and documented). Artefact_flag is the union of all flags indicating an artefact (incl artefact_flag, the rest are more complex visual classification flags).

[2018-01-23 16:26] jrcallingham commented on #4
Hi guys,

Had some time today to run some tests on this script. It appears to catch all the point sources that are cut off near the edge of the large mosaic. Great!

However, it does miss excluding heavily resolved sources that are cut off by the edge of the mosaic e.g: ILTJ122510.79+455955.5 and ILTJ122510.05+460000.4 (same source but pybdsf has split it in two):
![image](https://user-images.gith

[2018-01-23 18:20] mhardcastle commented on #4
As far as I can remember my idea was basically what Wendy has implemented. I guess the issue here is that PyBDSF doesn't get the size of the source right and so then the mask we make doesn't overlap the edge?

[2018-01-24 10:54] mhardcastle commented on #22
Code written, work in progress, will be in the next version of the catalogue. Closing this.

[2018-01-24 10:54] #22 closed, assigned to nobody

[2018-01-24 14:48] wndywllms commented on #4
These are cases where PyBDSF hasn't joined up sources that should be joined up. In both cases there is one pybdsf component that is getting flagged because it is on the edge, and the other just misses the edge. I've added a step to check if the flagged edge sources overlap (roughly) any other sources and flagged these. It picks up another 14 sources, all of which look like they should be flagged l

[2018-01-24 15:34] jrcallingham commented on #4
Agreed. I think this is the best we can do and most of the horrible cases have been caught :)

[2018-01-29 12:27] dunkenj commented on #6
Downloading the official PS1 objName catalog now so I can fold these in with the updated redshifts this week.

[2018-01-29 13:25] mhardcastle commented on #6
That's great. We'll wait for those before taking any further action on this.

[2018-01-29 20:17] mhardcastle commented on #24
Closing this issue since I guess it's fixed in the v0.7 catalogue release. We should open a new issue for documentation.

[2018-01-29 20:17] #24 closed, assigned to nobody

[2018-01-29 20:19] mhardcastle commented on #4
Wendy, can you confirm whether this is live in the general catalogue generation?

[2018-01-29 20:27] mhardcastle commented on #7
I think we can close this -- nothing else has been suggested. Isl_id is in the component catalogue so you can reconstruct it (or them) for a given source.

[2018-01-29 20:27] #7 closed, assigned to nobody

[2018-01-29 20:36] mhardcastle commented on #20
@bmingo Can you have a look at today's catalogue release v0.7 and tell us whether there are still problems?

[2018-01-29 20:49] bmingo commented on #20
I'll have a look first thing tomorrow!

[2018-01-30 13:41] bmingo commented on #20
Sorry about the delay.

There are still some issues, it seems:

71 pairs of sources have the same AllWISE value. All of them seem to have the same ObjID values, where present (5 pairs have empty ObjIDs). In most cases, both IDs have been achieved through different methods (different ID_flag values, also different ID_name), but there are 3 cases with identical ID_flags (2x602, 1x311) and ID_names.

[2018-01-30 13:42] wndywllms commented on #4
Yes, it's live so I'm closing this now.

[2018-01-30 13:42] #4 closed, assigned to nobody

[2018-01-30 14:07] wndywllms commented on #20
Just looked at one or 2 examples... some of these look like this
ILTJ150057.24+461721.9:
![image](https://user-images.githubusercontent.com/2170761/35569853-4896ccb8-05c5-11e8-8d4f-b43152681f34.png)
where either one or both of the sources has been in the LGZ sample (I think there is a similar case where they both come directly from ML only matching).

In the LGZ samples: in the case where only one

[2018-01-30 14:40] bmingo commented on #20
@jcroston might be able to check that...

[2018-01-30 15:08] mhardcastle commented on #20
I believe the code is meant to ignore the source with the cross in processing clicks, so a click on the small source should go through. I think it's more likely that people didn't notice the second component in some cases.

In any case we can deal with these by manually fixing them up with the too-zoomed-in pipeline, hopefully -- which I thought I had already done for most of them, but perhaps I m

[2018-01-30 15:16] mhardcastle commented on #20
So, just to be clear, ID_name is assigned by multiple routes dependent on ID_flag. There's no expectation that sources with the same optical ID will have the same ID_name at the moment (this will be fixed eventually, it's issue #6). On the other hand ID_ra, ID_dec and all the columns from AllWISE on are from the crossmatch with Ken's photo-z catalogue and so there should be no disagreement between

[2018-01-30 15:47] bmingo commented on #20
How does the matching process work for ID_flag=2? I have had a look at a couple of cases where the pairs have ID_flag=1/2, and they seem to have similar configurations to the one posted by Wendy (where the component with ID_flag=1 is internal to the one with ID_flag=2, and the latter has LGZ information).
See e.g.
ILTJ105900.17+500254.8
ILTJ105900.56+500259.5

[2018-01-30 16:38] wndywllms opened #25 "Tidy up the component catalogue"
We need to decide what columns to keep in the component catalogue and document them.

[2018-01-30 16:40] wndywllms opened #26 "artefacts in associations"
Artefacts flagged by other means (in various visual inspections in the flowchart, and edge sources in particular) can be associated as part of a new LGZ source or can be resurrected if they were in the LGZ sample but not classified as an artefact. Probably best to filter them out as well.

[2018-02-01 14:39] lmorabit opened #27 "column 'Mosaic_ID' correct information?"
I'm looking at LOFAR_HBA_T1_DR1_merge_ID_optical_v0.4.fits and it seems that somehow the column 'Mosaic_ID' is not properly catching the Mosaic_ID -- some are fine, with P214+55 but then there are columns where it's just 'P10Hetde' or 'P1Hetdex1' ... what's going on here?  Is there a standard format that we should be following for the mosaic IDs or are they listed somewhere that's accessible?

[2018-02-01 14:52] twshimwell commented on #27
The P10Hetde or P1Hetdex1 (these are truncated which I thought we had fixed...) are the pointing names in the LTA. The naming convention was changed after cycle two to e.g. P214+55 which explains the mix. I'd have thought best to leave the LTA names (not truncated though)

[2018-02-01 14:52] mhardcastle commented on #27
Yes, this is the result of truncation of this field in @twshimwell's original catalogue (I think it is still truncated but less so in more recent versions -- which means we have a mix in the final catalogue depending on where the data came from, e.g. there is both 'P10Hetde' and 'P10Hetdex'.

I worked round this so long ago that I guess I forgot it was an issue!

[2018-02-01 14:53] twshimwell commented on #27
Ah, I thought I had fixed the truncation now.

[2018-02-01 14:54] lmorabit commented on #27
So will it get updated in the next version of the catalogue? I think Catherine is trying to use this information for her project.

[2018-02-01 14:57] mhardcastle commented on #27
I think you're still a couple of characters off, Tim (but we should check what we're using).

What we have is almost always enough to identify the mosaic without using the RA, Dec...

Leah: yes we should update in the next version. Thanks for pointing it out.

[2018-02-01 14:58] mhardcastle commented on #27
(For what I do I have code that just makes a subimage from the required mosaic which it finds by going through RA, Dec and ignoring this field altogether. Maybe that doesn't work for Catherine though.)

[2018-02-01 15:01] twshimwell commented on #27
yeh indeed my names are truncated. For the Hetdex names do you want e.g.

P11Hetdex12 or just P11Hedex

There is also just P6 which doesnt have Hetdex in the name. Should I just leave that as P6

[2018-02-01 15:19] halecatherine commented on #27
I was trying to work out which sub-mosaic each source was in and extract some pixel values at its position, so I can write a wrap around to convert from the truncated Mosaic_ID to ###-mosaic.fits.

I think maybe if you are using the P11Hetdex12  name in the mosaic images/rms maps etc it might be  better using P11Hetdex12  that P11Hetdex but that is just my opinion.

[2018-02-01 15:38] wndywllms opened #28 "LGZ sizes too large"
@mhardcastle I'm checking my 2MASX merging of components (uses Make_Shape) and the sizes seem too large by a factor 2. Shouldn't merging a single component give LGZ_Size, LGZ_Width \approx DC_Maj, DC_Min ? [should be an easy fix if you agree this is a problem...]

Plotting source LGZ_Size against component DC_Maj  for all LGZ/2MASX sources (obviously quite different for many component sources), bu

[2018-02-01 15:44] twshimwell commented on #27
OK, ill remake the catalogue with the names that match the mosaic images.

[2018-02-01 16:07] wndywllms commented on #25
The trimmed list of columns (descriptions mostly as for the source catalogue):

Source_Name
RA
E_RA
DEC
E_DEC
Peak_flux
E_Peak_flux
Total_flux
E_Total_flux
Maj
E_Maj
Min
E_Min
DC_Maj
E_DC_Maj
DC_Min
E_DC_Min
PA
E_PA
DC_PA
E_DC_PA
Isl_rms
S_Code
Mosaic_ID
Isl_id
Number_Masked
Number_Pointings
Masked_Fraction
Ng   (number of gaussians)
ID_flag   (as for the source catalogue, but records the flags fo

[2018-02-01 16:11] wndywllms commented on #25
I would suggest changing
Source_Name -> Component_Name  (matches to the PyBDSF Source or Gaussian catalogues as appropriate)
New_Source_Name -> Source_Name   (since this matches to Source_Name in the Source catalogue)

[2018-02-01 16:20] bmingo commented on #25
I'd be happy with that!
Is there a "near a bright source" flag among the internal ones? If so, it may be worth keeping those (even if the component is not an artefact, it would warn the users to be careful about local rms, etc.)

[2018-02-01 16:27] wndywllms commented on #25
Would be nice, but bright star masking/flagging is still an open issue (https://github.com/mhardcastle/lotss-catalogue/issues/3)

EDIT: oh you mean near bright radio source (duh)

[2018-02-01 17:06] wndywllms commented on #25
to answer your actual question: there is not currently such a flag. I agree it could be useful, but we'd have to define 'how near is near', 'how bright is bright'...

[2018-02-01 17:20] wndywllms commented on #20
Ok, I think I fixed the ID_flag 1/2 combination with e8d3679eea019af05dd7c361a345d58abdbd52c3 (not quite the bug I thought it was).

ID_flag 2 comes from 2 routes: either automatically merge everything that matches a large (60") 2MASX galaxy, or it's a large/faint radio source that a visual check led to 'match to the bright optical source' (in most cases to the recorded 2MASX match). In the latter

[2018-02-01 18:27] mhardcastle commented on #28
No, this is intentional. The reasoning is that 2*DC_Maj is a good estimate of what the actual size (as in largest extent) of a Gaussian with a FWHM of DC_Maj actually is. It can only be an estimate because sources aren't really Gaussians: that factor of 2 is about right in mapping between FWHM and diameter for optically thin projected spheres on the sky that have been fitted with Gaussians.

(For

[2018-02-01 18:30] mhardcastle commented on #25
Of course Isl_rms would give some indication of this.

[2018-02-01 19:05] mhardcastle commented on #27
I agree with Catherine that we should use the names that correspond to the image names. And since we have already released the images we are stuck with any slight inconsistencies in naming at this point...

Tim, can you let me know when you have the new merged pybdsf catalogue because there are several outstanding issues that depend on using it.

Catherine, the code in this repository `utils/get_f

[2018-02-01 19:32] twshimwell commented on #27
ive sent it over.

[2018-02-01 19:36] twshimwell commented on #27
The ones I just sent dont have the masked fraction (and other columns i appended) so im just adding that in.

[2018-02-01 20:18] wndywllms commented on #28
Ok, that makes sense, should've thought about what I was comparing o_O (obviously anyone actually thinking about using largest angular extent type sizes would think this through or read the docs (which currently are a bit behind))

I'll fix my 'merged' single 2MASX sources.

[2018-02-01 20:18] #28 closed, assigned to nobody

[2018-02-01 20:50] twshimwell commented on #27
ok ive sent the new one. Let me know if any issues. I've checked that all values in all the columns are  the same (besides Mosaic_ID where only 172311 entries are the same)

[2018-02-03 18:55] mhardcastle opened #29 "Strange bad pixels in P196+55"
There are odd individual pixels or collections of 2-3 pixels which have odd values in the P196+55 mosaic (most obvious towards the NW). I have been aware of this for a while but haven't got around to looking at FITS images and tracking down an actual location. This noise can't (I think) be a result of deconvolution -- it must appear in mosaicing. We ought to track it down. Fortunately I don't thin

[2018-02-04 07:50] twshimwell commented on #29
Yeh we have seen this type of thing before but ill have to try to remember how we got rid of it.

I think in the mosaicing the weight map for L241961 is the issue (attached image of that map).

<img width="452" alt="screenshot 2018-02-04 08 48 39" src="https://user-images.githubusercontent.com/12065270/35775415-6b12066a-0988-11e8-9029-698b1ba71721.png">

[2018-02-04 07:54] twshimwell commented on #29
The mosaics for P200+55 and P34Hetdex06 also seem to have this issue with the same pointing. For some reason the other 4 mosaics this pointing is in dont show weight maps like this, I guess this means its related to the reprojection somehow.

[2018-02-04 08:23] mhardcastle commented on #29
Yep, that would do it.

First thing to try would be to remake the mosaic and see if the weight map is the same... in case anything's changed...

[2018-02-04 15:39] twshimwell commented on #29
And fixed by simply remaking. That was easier than anticipated.

I'll remake the 3 mosaics that have this issue.

Do we want to redo the catalogues for these three mosaics too?

[2018-02-04 17:02] mhardcastle commented on #29
We really don't want to mess with the catalogue at this stage.

I guess what we should do is make the catalogues for these and compare them with the originals -- if (as I suspect) there isn't much difference then we can live with the version we have.

(It'll also affect your noise plots and such-like things I suspect.)

[2018-02-05 08:31] mhardcastle commented on #27
Should be fixed in next release.

[2018-02-05 08:31] #27 closed, assigned to nobody

[2018-02-05 13:41] twshimwell commented on #29
There is some difference between the catalogues but perhaps its tolerable. For example, in the previous catalogue for P200+55 there were 7062 sources and 8194 components. Now there are 6930 sources and 8066 components. If I cross match the sources in both catalogues within 1arcsec then I get 6580 sources. Of these 6086 are "S' sources and the ratio of e.g. the peak fluxes of these sources is shown

[2018-02-05 18:23] mhardcastle commented on #29
I think that's tolerable. It's going to have to be unless we do something complicated like merging new fluxes into the old catalogue list. Changing source positions or sizes will break LGZ outputs.

[2018-02-06 14:59] mhardcastle commented on #6
OK, I have Ken's catalogue which has either an AllWISE or PSO ID for everything. So I propose that after the crossmatch we replace the ID_name with PSO if it exists, AllWISE if not (the reasoning being that PS has better resolution). Is there any argument for using anything else, e.g. 2MASX sources, @wllwen007 ?

[2018-02-06 15:07] mhardcastle commented on #29
Tim, if you can put the new mosaics and other products like residual maps somewhere I can get them then I will upload on the data release site and we can close this issue.

[2018-02-06 15:14] mhardcastle commented on #8
These masked fractions are now in the final catalogue so, other than being a bit concerned that they are rather lower than we would hope, I guess we can close this.

[2018-02-06 15:14] #8 closed, assigned to nobody

[2018-02-06 15:15] wndywllms commented on #6
Great. Yes, that makes sense.

I think the only reason for keeping the few 2MASX/SDSS names I have is to record that they somehow got identified with a large optical galaxy (therefor potentially the source has bad photometry/phot-z), but this is encoded in the ID_flag (=2 for these sources) so that should suffice.

[2018-02-06 21:00] mhardcastle commented on #6
OK, for now I am leaving them untouched iff ID_flag==2, but fixing them otherwise.

[2018-02-06 21:04] mhardcastle opened #30 "-99s in phot_z catalogue"
@dunkenj is it OK to replace the -99s in the phot_z catalogue with mask values? It drives me nuts when I try to do scatter plots in topcat, which will handle masked data just fine but thinks -99 needs to go on a plot.

[2018-02-06 21:05] mhardcastle commented on #26
Should be done in the latest version. Closing.

[2018-02-06 21:05] #26 closed, assigned to mhardcastle

[2018-02-07 10:24] mhardcastle commented on #29
Updated data from Tim now on the release site. Closing this.

[2018-02-07 10:24] #29 closed, assigned to mhardcastle, twshimwell

[2018-02-07 10:25] mhardcastle commented on #6
Closing this, reopen if there are problems.

[2018-02-07 10:25] #6 closed, assigned to nobody

[2018-02-07 10:27] mhardcastle commented on #25
Beatriz's request is an enhancement; the basic issue here will be fixed in the latest catalogue, so closing this.

[2018-02-07 10:27] #25 closed, assigned to wllwen007

[2018-02-07 10:35] mhardcastle commented on #9
Ok, we could think about this one now...

- inserting the space in ILT J... is easy and can be done at the final pass over the catalogue
- we could also rewrite all the source names, but if we do we break the mapping between what we call the sources internally (e.g. in the zoom lists) and what we call them externally, which is going to be annoying.

Preferences, @wllwen007 ?

[2018-02-07 12:02] wndywllms commented on #20
In the latest version (v0.8) there are still 374 sources that share the same 180 ID_name's

Most of these look like there is a small source that has been missed in the LGZ association (maybe making them cyan because they have an ML match made them less visible than before)

There is a text file listing Source_Name ID_flag Assoc Component_Names Assoc_Qual for each group of sources with the same ID.

[2018-02-07 18:31] mhardcastle commented on #20
Is there any reason why the numbering of the groups starts at 2?

[2018-02-07 18:54] wndywllms commented on #20
yes -- Group 1 is the group of ~3600 ID_name=='mult' sources

[2018-02-07 18:57] mhardcastle commented on #20
Ah right. OK. I am going to feed all the ones where we have a pair of a LGZ and ML source through the too-zoomed-in pipeline, then, which should reduce these to a smaller number. Just wanted to check that the file was complete before starting to make a source list.

[2018-02-08 22:18] mhardcastle commented on #30
Done in v0.8. Closing

[2018-02-08 22:18] #30 closed, assigned to nobody

[2018-02-08 22:19] mhardcastle commented on #20
This should be mostly done in v0.8, but we need a separate piece of code to deal with the blends, so I won't close it yet.

[2018-03-08 16:20] jcroston opened #31 "catalogued 14 degree source..."
@bmingo has flagged up a strange catalogue entry. Source ILTJ114824.92+551438.2 has an LGZ_Size of around 13.6 degrees. Its central coordinates aren't within the mosaic that is listed for it in the catalogue. Its optical ID is a long way away from the central coordinates.

It has an ID_Flag of 31 suggesting LGZv1, but it doesn't exist in earlier versions of the catalogue (I looked at version 0.6 a

[2018-03-08 17:49] wndywllms commented on #31
well, it's got 2 components are separated by about 13 deg!
ILTJ112632.40+555443.6 ILTJ114824.92+551438.2 1
ILTJ125957.20+530331.9 ILTJ114824.92+551438.2 1
I think both of them were in LGZv1 (both are large and bright).
@mhardcastle I guess something has gone wrong in the lgz processing to associate these 2 components (that weren't associated before)

[2018-03-08 18:45] jcroston commented on #31
Thanks - I've checked the three catalogues generated by my initial LGZ output processing and there are no sources with the parent source name in any of them, or any sources with such a large size. So I think the association must have somehow arisen in the later processing.

The first listed component doesn't seem to be in any of the LGZ output catalogues with that name (possible it was LGZv1 and t

[2018-03-08 18:52] mhardcastle commented on #31
It's probably a too-zoomed in correction file gone crazy. I'll try to track it down.

[2018-03-10 21:16] mhardcastle commented on #31
This appears to have been a glitch in the LGZ v3 output. Will be fixed in the next catalogue release.

[2018-03-10 21:31] bmingo commented on #31
Thank you!
Is only that one source affected by the glitch?

[2018-03-11 07:35] mhardcastle commented on #31
So I'm told...

[2018-03-11 08:03] jcroston commented on #31
Yes, pretty sure no other sources affected. There was one rogue click in the Zooniverse output for LGZv3 that was an interloper from LGZv1. It should have been filtered out, but ended up producing a source with non-matching name and coordinates that was sent down a component-matching pathway aimed at the annoying LGZv1 subset made from the early source catalogue, which led to odd results. There ar

[2018-03-11 20:07] mhardcastle opened #32 "Document ID_flag"
flowchart/README.md should be updated with the latest meanings of ID_flag.

[2018-03-12 10:58] wndywllms commented on #32
should be up to date now

[2018-03-12 10:58] #32 closed, assigned to wllwen007

[2018-03-12 11:56] nudomarinero opened #33 "Linking PyBDSF sources to optical catalogue sources"
As we understand, the "Source_Name" in the optical source catalogue (OSC) is a final source name that in some cases corresponds to the original PyBDSF "Source_Name". However, in some cases the "Source_Name" is new (one PyBDSF source may be split in several OSC sources or many PyBDSF sources may be combined in a single OSC source) and there is no way to match the sources between catalogues.
It woul

[2018-03-12 12:01] mhardcastle commented on #33
This is what the component catalogue is for. 'Component_Name' in this catalogue corresponds to the original PyBDSF catalogue (in most cases except blends). 'Source_Name' corresponds to the source in the OSC.

[2018-03-14 11:58] wndywllms commented on #20
@mhardcastle I think we picked up a few more of these after the LRs changed, can you run them through the zoom code as before?

Source_Name         Total_flux             ID_name           ID_flag     ML_LR

ILTJ112844.18+540033.4 0.784852894044 AllWISE J112844.70+540031.8       1 4.73230873371
ILTJ112844.65+540031.3  6.31202608793 AllWISE J112844.70+540031.8       1 707.949027643

ILTJ115355.18+5

[2018-03-17 10:28] mhardcastle commented on #20
These are all done now.

On the other hand I stumbled over some ID_flag==2 sources which seem only to have a partial match to the underlying bright galaxy, which means that two sources in the catalogue then have the same ID (or close to the same -- obviously the ID matches to Ken's catalogue may well be pretty meaningless in this case). These include (not an exhaustive list):
[code]
You can see ex

[2018-03-22 11:48] mhardcastle opened #34 "documentation"
All sub-directories of the code should be documented at least at the level of what the scripts are.

[2018-03-22 14:06] mhardcastle opened #35 "spectroscopic redshifts"
When I download redshifts from SDSS DR14 I find a bunch of sources in the final catalogue (888 of them in total) that have a warning-free spectroscopic redshift in DR14 but no z_spec in our catalogue. These don't seem to be particularly different from the existing spec-zs (see image).

I understand that Joe may have some extra spec-zs too.

I guess what we want to do is insert these into Ken's cat

[2018-03-22 14:52] djbsmith commented on #35
I think we probably do want the extra redshifts, but we probably also need to worry about where they come from and how reliable they are. With SDSS this is easy to assess, but for redshifts found elsewhere (e.g. on NED) that's harder.

To what extent can the details of the matching process (e.g. 1" vs 1.5") explain why the SDSS redshifts weren't matched in the first place?

[2018-03-22 15:13] mhardcastle commented on #35
It's certainly not just the offset -- I used 1.5 arcsec as a match radius but the vast majority of matches without existing spec-z are <0.5 arcsec offset.

[2018-03-23 10:18] jrcallingham commented on #35
Yes. I also found the same redshifts as you did Martin. Also I found situations were a source was on the CasJobs SDSS spec-z list as a QSO but is not listed separately in the bulk QSO catalog (hence causing Ken to exclude them) but I think Ken sorted that situation out.

[2018-03-26 10:57] nudomarinero opened #36 "Source missmatch between components and optical catalogue"
There are 22 sources that are in the optical catalogue but not in the components one and 82 sources that are in the component catalogue but not in the optical one.

These sources can be found doing a exact value match in Topcat between the "Component_Name" column in the components table and the "Source_Name" column in the optical table with the settings "All matches" and "1 xor 2" .

[2018-03-26 11:01] mhardcastle commented on #36
I think most of these we have already identified and fixed. But I will check again when we are ready to release v1.1 of the catalogue.

(I assume you mean 'Source_Name' and 'Source_Name'.)

[2018-03-26 11:01] nudomarinero commented on #36
That is great, thanks. Yes, I meant 'Source_Name' and 'Source_Name'.

[2018-03-26 15:17] mhardcastle commented on #36
@wllwen007 So in a technical sense we have fixed 'most of' Pepe's problem in current draft v1.1 because the 82 sources have all been fixed by dealing with compoverlap=1 sources.

However the 22 sources that are in the optical catalogue but not the component one persist. They are all LGZ sources and mostly single-component. On spot-checking they are real sources and they appear in my lgz_components

[2018-03-26 15:20] mhardcastle commented on #33
We agreed that we should produce a list of sources flagged as artefacts: then it's possible to distinguish between sources that are deblended and sources that are artefacts without having to create an entire new catalogue just for this.

We could also add a 'Deblended_from' column in the components list when doing the deblending.

[2018-03-26 15:22] mhardcastle commented on #31
Fixed in the soon-to-be-released v1.1.

[2018-03-26 15:22] #31 closed, assigned to nobody

[2018-03-26 16:04] laraalegre opened #37 "Duplicated source in optical and component catalogues"
I found one duplicated source in the optical catalogue (LOFAR_HBA_T1_DR1_merge_ID_optical_v1.0.fits):
Source Name ILTJ132633.10+484745.7. The match is the same (same AllWISE and objID) but the RA, DEC, major axis, etc, are slightly different. It is the same source selected from different mosaics.
This source also appears duplicated in the component catalogue (LOFAR_HBA_T1_DR1_merge_ID_v1.0.comp.fi

[2018-03-26 16:09] laraalegre opened #38 "Multiple entries for a source in component catalogue"
On the component catalogue there is a source with 9 duplicated rows:
Component_Name  = ILTJ115037.81+465929.4

[2018-03-26 17:32] mhardcastle commented on #38
Thanks. Seems to be related to a blend... I'll check it out.

[2018-03-26 17:35] mhardcastle opened #39 "Tests"
We need a set of automated tests to check for catalogue inconsistencies so that we catch problems that are introduced or reintroduced by updates in the cataloguing code.

I have started these in `tests/testsuite.py`. Additional contributions are very welcome.

[2018-03-26 17:36] mhardcastle commented on #38
This is now a test case, see #39

[2018-03-26 17:36] mhardcastle commented on #36
This is now a test case, see #39

[2018-03-26 17:37] mhardcastle commented on #20
The ID_flag==2 problem is fixed but there are still some sources with duplicate optical IDs in the v1.1 draft catalogue. This is now a test case, see #39

[2018-03-26 19:14] mhardcastle commented on #38
OK, this set of sources with identical RA and Dec and slightly different radio properties exists in the Gaussian catalogue, and so presumably it's a pybdsf issue; the catalogue code is doing the right thing given that that is the case.  Do we require component_names in the component catalogue to be unique? Why? And if so, how should we make them unique in this case?

[2018-03-26 19:33] mhardcastle commented on #34
Done now.

[2018-03-26 19:33] #34 closed, assigned to nobody

[2018-03-26 20:15] nudomarinero commented on #38
I think it would be very useful to have an unique column in the table that can be used as a primary key. This would allow us to use all the existing relational database machinery in an easy way. That means that the table joins would be straightforward, there will be no degeneration (which is usually a source of problems) identifying sources with just one column, and entering the tables into a rela

[2018-03-27 06:55] mhardcastle commented on #38
Your proposed solution breaks the correspondence between the component table and the PyBDSF (Gaussian) table, though. And I am pretty sure it is not consistent with IAU naming rules either.

[2018-03-27 12:51] nudomarinero commented on #38
Yes, it would require to get the corresponding key in the PyBDSF (Gaussian) table. If we do not want to modify the PyBDSF table, it could be done with an additional ordered list/table of the same length that contains only the unique names. This list can be stacked to the PyBDSF table (for example with vstack in astropy or concat in pandas) to make it "joinable" with the components table.

About th

[2018-03-27 16:42] mhardcastle commented on #38
I believe all of these are real components of the source, which PyBDSF has for reasons of its own decomposed into many Gaussians. I've checked and there are a few other examples of this in the Gaussian catalogue.

I think given that:
* this makes no difference to the final source catalogue
* it makes no difference to the ability to select all the components of a source from the component catalogue

[2018-03-27 16:51] mhardcastle commented on #37
For reasons that I don't fully understand this does not seem to exist in the draft v1.1 catalogue. All objects with duplicate optical IDs will be fixed up before v1.1 is released.

[2018-03-27 16:51] #37 closed, assigned to nobody

[2018-03-27 21:01] wndywllms commented on #37
This was the single duplicate source in Tim's catalogues. When the mosaic ID's changed it slipped through again because the duplicate is excluded based on moasic_ID. I noticed it after v1.0 and fixed for v1.1.
(commenting for completeness in case this comes up again)

[2018-03-27 21:17] mhardcastle commented on #37
Aha. Thanks for clearing that up!

[2018-03-27 23:48] twshimwell commented on #37
Yeh weird source that sits almost exactly between two mosaic centres. Even though the images are the same in the two mosaics, due to reprojection it sits closer to one mosaic centre in that mosaic and closer to the other mosaic centre in the other mosaic.

[2018-04-02 16:08] wndywllms commented on #36
@mhardcastle I'm not entirely sure what the other 22 sources were (possibly related to the 2MASX/LGZ conflicts?), but in the process of tidying up my code and extracting a list of things removed as artefacts (either from the flowchart or lgz) (commit 498835cc97ee5803e90498337f31f0253a26e570), they  are now gone

so the latest draft v1.1 now on lofar passes all the tests

[2018-04-08 12:15] mhardcastle commented on #36
Right, your draft v1.1 passes the test, mine, which includes the blends, doesn't. So in some way I don't understand these sources are going missing in the blend processing (in fact this is where all the remaining test failures appear).

I'll investigate.

[2018-04-08 12:56] mhardcastle commented on #36
Ah, I see. In your component catalogue these sources have ID_flag=42 whereas in the corresponding source catalogue entries they have ID_flag=31. The blend code removes all the ID_flag==41 or 42 components and then recreates them, but they'll only be recreated if they have a corresponding entry in the ID_flag==41 or ID_flag==42 source catalogue list.

I guess there should be no circumstances where

[2018-04-08 15:18] mhardcastle commented on #36
(These are the only cases where they disagree.)

[2018-04-09 13:39] wndywllms commented on #36
This is down to a silly bug o_O in the blend selection for sources and components (using >  and >= 0.5 for Blend_prob when a small number actually have this flag = 0.5). So the ~20 sources now have the blend ID_flags matching those in the component catalogue. I'm not sure if these will already have blend files or if they'll need to be done...
(fixed in ac4440e47774e0c1ef24666a9198bfe7eff7cd1f)

ev

[2018-04-09 17:22] mhardcastle commented on #36
Version 1.1 is released and passes the relevant test (woo hoo!)

[2018-04-09 17:22] #36 closed, assigned to nobody

[2018-04-09 17:23] #38 closed, assigned to nobody

[2018-04-09 17:23] mhardcastle commented on #20
Fixed in the released version 1.1.

[2018-04-09 17:23] #20 closed, assigned to nobody

[2018-04-09 17:33] mhardcastle commented on #39
We have some tests now. More are still welcome if more subtle inconsistencies exist, but closing this for now.

[2018-04-09 17:33] #39 closed, assigned to nobody

[2018-04-09 17:42] mhardcastle commented on #33
The new v1.1 components catalogue has a `Deblended_From` field which is set if and only if the component it refers was promoted from being a Gaussian component of the named PyBDSF source. So I think that part is done.

Discussion in e-mail seems to have come to the consensus that a further annotated catalogue was required to label the artefacts (and this could also list the sources destroyed by de

[2018-04-10 09:29] mhardcastle commented on #9
I am thinking this ship may have sailed since we have released a couple of versions of the catalogue that have the old format. Names with spaces in would be a pain for all the filenames that are based on source names that we use in the catalogue processing. Let's leave it as it is.

[2018-04-10 09:29] #9 closed, assigned to nobody

[2018-04-17 13:12] mhardcastle commented on #35
Fixed in v1.1b, closing.

[2018-04-17 13:12] #35 closed, assigned to nobody

[2018-04-17 13:22] mhardcastle opened #41 "Documentation"
We should make sure we have complete documentation for all the columns in the final data products, including all the metadata that might be required for the VO.

[2018-04-17 14:13] wndywllms opened #42 "missing ID's for 3 2MASX sources"
3 ID_flag==2 sources in v1.1 were missing the 2MASX name in their ID_name so ended up with no ID

ILTJ105900.19+500255.0 2MASXJ10590015+5002557
ILTJ123201.77+462057.2 2MASXJ12320182+4620528
ILTJ140921.74+490217.9 2MASXJ14092132+4902197

(fixed in 60ddc4a3627b42763aa0bef81d5b2e15d537ca9d)

[2018-04-24 19:06] nudomarinero opened #43 "Missing artefacts?"
We have found some PyBDSF sources (52; in LOFAR_HBA_T1_DR1_catalog_v0.9.srl.fixed.fits) that are in the PyBDSF catalogue but do not appear either in the artefact list (LOFAR_HBA_T1_DR1_merge_ID_v1.1.art.fits) or in the components table (they are neither components nor "deblended_from" sources in LOFAR_HBA_T1_DR1_merge_ID_v1.1b.comp.fits).

We think that these sources may be perhaps artefacts that

[2018-04-26 16:31] wndywllms commented on #43
@mhardcastle I think these are mostly flagged as artefacts in the blend stage which means my code doesn't know about them (I can feed it a list of them so we at least get a complete artefact list, or your blend code needs to append to the list of artefacts)

I can pick up 39 of them based on a check for 'Flagged' in the blend files in /data/lofar/mjh/hetdex_v4/blend/
(but this gets 6 extra sources

[2018-05-22 13:23] wndywllms commented on #42
and further fix in b2cc6728006193d81e013a122c6d050262b3aa90 for v1.2

[2018-05-23 12:46] mhardcastle opened #44 "Broken sources"
Here's a place to submit IDs of sources where the catalogued association seems wrong.

ILTJ131451.56+542820.5

[2018-05-23 13:02] mhardcastle commented on #44
ILTJ110552.82+552739.7 (lobe should be associated)

[2018-05-23 22:22] mhardcastle commented on #44
ILTJ123803.85+531614.7 could use a check.

[2018-05-29 16:01] mhardcastle opened #45 "Masking of missing PanSTARRS photometry"
Strip of data without PanSTARRS photometry needs a flag in the optical-based catalogues.

[2018-05-30 22:51] bmingo commented on #44
ILTJ104543.54+525016.4 seems to have a bad association too. One of the components from a non-associated source is included, the other excluded (see attached image, my flood-filling algorithm masks out unassociated components, but goes a bit mad on this source).
Edit: It is also possible that the pybdsf region associated with the source at the bottom is a bit too large and overlaps with the extende

[2018-05-31 20:34] mhardcastle commented on #44
ILTJ105430.20+542507.4 (done)

ILTJ111159.05+485700.2 (done)

[2018-05-31 20:36] mhardcastle commented on #44
@bmingo I've checked and the second of your two possibilities is the correct one. Can't really fix this in the catalogue. You could scale up the masks round unassociated sources a bit?

[2018-05-31 20:50] mhardcastle commented on #43
Fixed in v1.2 and a test added to the test suite to catch this (now that we have an official artefact list).

[2018-05-31 20:50] #43 closed, assigned to mhardcastle

[2018-05-31 22:12] mhardcastle commented on #44
All sources above should be fixed up in v1.2.

[2018-06-01 15:45] wndywllms commented on #42
these all now have their ID_ra and ID_dec in my v1.2 merged catalogue

but one of them comes out with no ID_ra, ID_dec after the merge with PS1/wise
ILTJ123201.77+462057.2 2MASXJ12320182+4620528
The PS/wise match is 5.30978" away so it misses the 5" cutoff

It's now the only ID_flag==2 source with no ID_ra, ID_dec

![iltj123201 77 462057 2](https://user-images.githubusercontent.com/2170761/4084896

[2018-06-01 15:53] mhardcastle commented on #42
Manually edit its RA and Dec so it matches the PS catalogue entry and rerun everything? (or not...)

[2018-06-01 17:00] wndywllms commented on #42
Ok, hardcoded a fix for it's RA, DEC. My latest v1.2 catalogue on the cluster has this fix, if you want to rerun your matching steps...

[2018-06-01 19:38] mhardcastle commented on #45
Fixed in v1.2.

[2018-06-01 19:38] #45 closed, assigned to nobody

[2018-06-01 19:41] mhardcastle commented on #42
Should be done and in the version of the catalogue on the release site.

[2018-06-05 11:40] wndywllms commented on #42
fixed in v1.2

[2018-06-05 11:40] #42 closed, assigned to nobody

[2018-07-05 17:51] mahatmav opened #46 "Lack of w3Mag and w4Mag errors"
Seems to be a lot of missing absolute w3Mag and w4Mag errors in LOFAR_HBA_T1_DR1_merge_ID_optical_v1.1b_restframe.fits.

This seems to occur only for sources with absolute mags > 17, and strangely errors are only missing where the corresponding w3Flux = 0, but the w3Flux errors do actually exist. This is the same case for w4 mags.

[2018-07-05 18:15] bmingo commented on #46
I believe those are upper limits, or at least measurements below 5 sigma

[2018-09-28 16:12] wndywllms opened #47 "sources with ID_names of 2MASS instead of 2MASX J"
The referee noticed that there are a few sources  with ID_names of 2MASS instead of 2MASX J

There are indeed 4 of these... all have ID_flag = [31,32] I think they get the 2MASS name in processing the hostbrokenup sources but my merging code is not dealing with them correctly their components are not already associated with any/the same 2MASX source

[2019-01-04 10:23] ErikOsinga opened #48 "Duplicate sources?"
Hi,

I think there are some duplicate sources in the v1.2 optical catalogue.
These are just some examples I found, but I suspect there might be more in there:

ILTJ112101.32+490457.3
ILTJ112101.29+490456.5

ILTJ105143.62+513451.5
ILTJ105143.76+513454.5

ILTJ110953.46+482703.8
ILTJ110953.36+482708.0

ILTJ115041.76+473207.7
ILTJ115041.38+473211.1

I found these by checking the nearest neighbour dist

[2019-01-10 14:29] wndywllms commented on #48
ILTJ110953.46+482703.8 & ILTJ110953.36+482708.0
This is not a duplicate and comes through the deblending route where the PyBDSF gaussian components have been regrouped as best as possible (there is a third component in the blend). Obviously you want to be cautious with the sizes/fluxes of these sources...
![iltj110953 36 482708 0_ps-small](https://user-images.githubusercontent.com/2170761/50971762

[2019-01-23 11:43] nudomarinero opened #49 "Truncated mosaic names"
Same issue as #27 in the final (v1.2) catalogue.

In the final catalogue, the values of 'Mosaic_ID' are sometimes truncated to 8 characters. The width of the column is 11 but we can find the mosaics with long names truncated to 8 characters in some cases. For example, it is possible to find "P10Hetde" and "P10Hetdex" to refer to the same mosaic.

Fortunately, there is no degeneration in the trunca

[2019-01-23 12:22] twshimwell commented on #49
I thought v0.999 of the raw pybdsf catalogue was used to create v1.2 -- this version shouldnt have truncated names...

Perhaps an older version of the raw pybdsf catalogue was used?

[2019-01-23 13:45] wndywllms commented on #49
Thought we'd fixed this :-/

@mhardcastle I see that all these sources with Mosaic_ID==P..Hetde have deblended ID_flags. Could be something in the deblending code?

[2019-10-02 13:57] #41 closed, assigned to wllwen007

[2019-10-02 13:57] #44 closed, assigned to nobody

[2019-10-02 13:57] mhardcastle commented on #47
Think this was fixed.

[2019-10-02 13:57] #47 closed, assigned to nobody

[2019-10-02 13:58] #46 closed, assigned to nobody

[2019-10-02 14:00] #49 closed, assigned to nobody

[2019-10-02 14:01] mhardcastle commented on #33
Superseded by developments in the deep fields code.

[2019-10-02 14:01] #33 closed, assigned to wllwen007, mhardcastle

[2022-06-16 13:06] dunkenj opened #59 "unWISE w1/w2 mag errs"
Hi @mhardcastle,
Currently working on the codes to transform the LoTSS DR2 combined catalogues into the required formats so I can generate our SV/trimester 1 catalogues. Are the uncertainties for the unWISE magnitudes present in the catalogue(s) pulled in from likelihood ratio analysis? If they are, can these be propagated into future versions of the merged catalog? - This would prevent the need f

[2022-06-16 17:43] mhardcastle commented on #59
Hi Ken, I'm afraid it doesn't... Presumably for size reasons. I'm attempting to see if there's a parent catalogue with this information in. This was all done by Pepe over in https://github.com/nudomarinero/lr_lotss_dr2 .

[2022-06-16 17:44] mhardcastle commented on #59
PS please make sure you get the latest catalogues from me before you press go on the SV/trimester 1 cats!

[2022-06-16 17:51] mhardcastle commented on #59
PPS the answer's no, Pepe's original catalogues don't have this info. So we'd have to re-make them.

[2022-06-17 09:06] dunkenj commented on #59
Ah - that's what I feared. Thanks for checking.

They're not mission critical, certainly in the short term as the SV MOS selection requires a photo-z and hence all sources will have WISE magnitudes from the LS DR8 deblending catalogues. I'll add this to the list of questions/decisions (i.e. how critical this is vs the effort required) that we need to work through on the WEAVE side of things.

On t

[2022-06-29 15:26] dunkenj commented on #59
Quick update: Having had need to get very acquainted with astroquery and PyVO this last week or so - I think I now have a working solution to automatically match back in the rest of the unwise columns as  required (Basically through running a TAP cross match for 1" matches and joining on unwise ID).

I'll be scaling this up to get things neat and tested for the WEAVE processed catalogues. But the

[2022-06-30 07:21] mhardcastle commented on #59
Thanks Ken. If you want to pass some code over to me for this repo at some point, when ready, I can add it as one of the stages in generating the final catalogues. No immediate hurry. We can keep this issue open to remind us.